.layout-grid {
  display: grid;
  height: 100%;
  // gap: 5px 15px;
  grid:
    "header header" auto
    "left-menu body" 1fr
    "footer footer" auto;

  header {
    grid-area: header;
    background-color: lightblue;
  }

  footer {
    grid-area: footer;
    background-color: lightseagreen;
  }

  aside {
    grid-area: left-menu;
    background-color: lightcoral;
  }

  .body {
    grid-area: body;
    background-color: lightgray;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
}
