.basic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .child-1 {
    background-color: cyan;
  }

  .child-2 {
    background-color: magenta;
  }

  .child-3 {
    background-color: yellow;
  }
}

.header-grid {
  // visibility: hidden;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;

  .icon {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
  }

  .title {
    border: solid 1px lightgrey;
  }
}

.now-in-2d {
  // visibility: hidden;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 10px 20px;

  .child-1 {
    background-color: cyan;
  }

  .child-2 {
    background-color: magenta;
  }

  .child-3 {
    background-color: yellow;
  }

  .child-4 {
    background-color: grey;
  }
}
